.FAQs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px;
    background-color: #363738;
    grid-row-gap: 24px;
}

.FAQs-rows{
    display: flex;
    justify-content: space-between;
    background-color: #232323;
    padding: 20px 24px;
    border-radius: 24px;
}

.FAQs-info {
    color: rgb(252, 252, 253);
    display: inline-block;
    flex: 1;
    font-family: "Noto Sans Mono", sans-serif;
    font-size: 14px;
    font-weight: 900;
}

.title-FAQs{
    color: #fcfcfd;
    background-color: #363738;
    font-size: 25px;
    font-weight: bold !important;
    margin-left: 20px;
}

.FAQs .circle:nth-child(1) {
    background-color: #fcfcfd;
  }
  
.FAQs .circle:nth-child(2) {
    background-color: #a5a6a9;
  }
  
.FAQs .circle:nth-child(3) {
    background-color: #28eea7;
  }
  
  #FAQs-button{
    background-color: rgb(35, 35, 35);
    border-bottom-color: rgb(252, 252, 253);
    font-size: 16px;
    font-weight: 800;
    font-family: "Noto Sans Mono", sans-serif;
  }