.HomePage{
    height: 7000px;
    margin: 0;
    padding: 0;
}

.hello-world{

}
 .milestones{

 }
 .Programs{

 }
 .hire-talents{

 }
 .testimonials{

 }
 .FAQs{

 }
 .contact-us{

 }
 .partners{

 }
 .newsletter{

 }
 .footer{

 }