body{
    margin: 0;
}
.HomePage{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

 .milestones{

 }
 .Programs{

 }
 .hire-talents{

 }
 .testimonials{

 }
 .FAQs{

 }
 .contact-us{

 }
 .partners{

 }
 .newsletter{

 }
 .footer{

 }