.hello-world {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
   padding: 70px 70px;
    background-color: #f1f2f3;
  }

  .circle:nth-child(1) {
    background-color: #363738;
  }
  
  .circle:nth-child(2) {
    background-color: #dcdee1;
  }
  
  .circle:nth-child(3) {
    background-color: #28eea7;
  }
  
  .hello-world-video {
    margin-top: 15px;
    width: 100%;
    max-width: 1158px;
    min-width: 383px;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    border: 15px solid #28eea7;
    border-radius: 20px;
  }
  
  .hello-world-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .title-hello-world { 
    background-color :rgba(0, 0, 0, 0);
    color: rgb(54, 55, 56);
    font-family: "Noto Sans Mono", sans-serif;
    font-size :24px;
    font-weight :900;
    margin-bottom :0px;
    padding: 10px 20px;
  }