.hello-world {
    display: flex;
    flex-direction: column;
    align-items: center;
   padding: 70px 70px;
    background-color: #f1f2f3;
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .shapes {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 5px;
  }

  .circle:nth-child(1) {
    background-color: #363738;
  }
  
  .circle:nth-child(2) {
    background-color: #dcdee1;
  }
  
  .circle:nth-child(3) {
    background-color: #28eea7;
  }
  
  .hello-world-video {
    margin-top: 15px;
    width: 100%;
    max-width: 1158px;
    min-width: 383px;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    border: 15px solid #28eea7;
    border-radius: 20px;
  }
  
  .hello-world-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  