.hire-talents{
    background-color: #363738;
    display: flex;
    flex-direction: column;
    padding: 70px 70px;
    grid-row-gap: 20px;
}

.hire-talents .circle:nth-child(1) {
    background-color: #fcfcfd;
}
  
.hire-talents .circle:nth-child(2) {
    background-color: #a5a6a9;
}
  
.hire-talents .circle:nth-child(3) {
    background-color: #28eea7;
}

.become-RP{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #232323;
    border-radius: 20px;
}

.become-RP h1{
    color: #fcfcfd;
    font-weight: 900;
    text-align: left;
    font-size: 22px;
    line-height: 1.4;
    font-family: Noto Sans Mono, sans-serif;
}

.become-RP h2{
    color: #fcfcfd;
    text-align: left;
    background-color: #363738;
    padding: 15px 20px;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.4;
    padding: 15px 20px;
    font-family: Noto Sans Mono, sans-serif;
}

.RPstep{
    flex: 1;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #a5a6a9;;
    font-family: Noto Sans Mono, sans-serif;
}

.contact-us{
    padding: 15px 20px;
    text-align: right;
    align-self: stretch;
    font-size: 14px;
    margin-top: auto;
    color: #fcfcfd;
    background-color: rgba(54, 55, 56, .75);
    
}

.HR-factory{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    justify-content: flex-end;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #232323;
    flex: 1;
    padding: 20px 40px;
    border-radius: 20px;
}

.HR-factory h1{
    color:#fcfcfd;
    font-weight: 300;
    text-align: left;
    font-size: 22px;
    font-family: Noto Sans, sans-serif;
}

.HR-logo{
    max-width: 140px;
    max-height: 52px;
    object-fit: contain;
}
