.landpage {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    height: 100vh;
}

.left-part, .right-part, .overlay-left, .overlay-right {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
}

.left-part, .overlay-left{
    align-items: flex-end;
}

.right-part .button-landpage  {
    align-self: flex-start;
}

.description-landpage{
    max-width: 550px;
    display: inline-block;
    margin: 40px 0px;
    line-height: 1.5;
    font: 14px;
    font-family: Noto Sans Mono, sans-serif;
}

#description-landpage-left{
  text-align: right;
}

.overlay-right>.description-landpage{
    color: white;
}

.title-landpage{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    line-height: 2.5;
    max-width: fit-content;
}

.button-landpage{
    font-family: Noto Sans Mono, sans-serif;
    font: 16px ;
    padding: 15px 20px;
    font-weight: bold;
}

.major-landpage{
    text-transform: uppercase;
    font-family: Noto Sans Mono, sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
}

.overlay-left >.button-landpage ,
.overlay-left >.title-landpage {
    background-color: #363738;
    color: white;
  }

.overlay-right >.button-landpage, 
.overlay-right >.title-landpage {
    color: #363738;
    background-color: white
  }

.left-part>.major-landpage {
    color: #363738;
  }

.right-part .major-landpage {
    color: #ffffff;
  }

.left-part {
    background-image: url(../Photos/landpage-left.png);
  }

.overlay-left{
    background-color: rgba(40, 238, 167, 0.93);
}

.right-part {
    background-image: url(../Photos/landpage-right.png);
  }

.overlay-right{
    background-color: rgba(54, 55, 56, 0.541);
  }

.left-part, .right-part {
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 0;
  }
  
.overlay-right ,.overlay-left{
    margin: 0 0;
    width: 100%;
    height: 100%;
  }