.milestones {
    display: flex;
    flex-direction: column;
    align-items: center;
   padding: 70px 70px;
  }

  .milestones-block{
    display: flex;
    margin-top: 10px;
    justify-content: fex-between;
    flex-wrap :wrap;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .left-column-milestone  {
    flex: 1.1;
    display: flex;
    align-content: stretch;
  }
  
  .right-column-milestone {
    flex: 1;
    display: flex;
    flex-direction: column;
    grid-row-gap: 15px;
  }
  
  .right-column-row-milestone{
    flex: 1;
    display: flex;
    height: 190px ;
    grid-column-gap: 20px;
  }
  
  .stats-milestone {
    flex: 1;
    padding: 35px;
    background-color:#f1f2f3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .left-column-milestone .stats-milestone{
    height: auto;
  }
  
  .stats-milestone  h1{
    font-size: 64px;
    font-weight: 900;
    text-align: left;
    margin: 0;
    font-family: Noto Sans Mono, sans-serif;
    color: rgb(54, 55, 56);
  }

  .stats-milestone  h2{
    margin: 0px;
    font-size: 32px;
    font-weight: 900;
    font-family: Noto Sans Mono, sans-serif;
    color: rgb(54, 55, 56);
  }

  .stats-milestone h3{
    color: rgb(54, 55, 56);
    display: block;
    font-family :Noto Sans Mono, sans-serif;
    font-size :16px;
    font-weight :400;
    text-align: left;
    margin: 0px;
  }

  .milestones-block li {
    margin-bottom: 7px;
    font-family: Noto Sans Mono, sans-serif;
    list-style-type:none
  }
  
  .milestones-block ul{
    padding-inline-start: 0px;
  }

  title.milestones{
    background-color: white ;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 900;
    font-family: Noto Sans Mono, sans-serif;
  }
