.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 60px;
}

.alumni{
    background-color: #363738;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 64px;
    display: flex;
    flex-wrap: wrap;
}

.alumni-bio{
    display: flex;
    flex-direction: column;
    max-width: 705px;
    min-width: 380px;
    flex: 1;
}

.alumni-pic{
    max-width: 400px;
    border-radius: 50px;
    object-fit: cover;
    border: 20px solid #363738;
    flex: 1 1;
}

.alumni-icon{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.alumni-info{
    display: flex;
    align-items: center;
}

.alumni-name{
    color: #fcfcfd;
    font-family: Noto Sans Mono, sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.alumni-work{
    font-size: 14px;
    font-weight: 400;
    color: #fcfcfd;
    font-family: Noto Sans Mono, sans-serif;
}

.alumni-words{
    color: #fcfcfd;
    margin-bottom: 32px;
    font-weight: 400;
    line-height: 1.4;
    font-family: Noto Sans Mono, sans-serif;
}

.title-testimonials{
    background-color: white;
    font-family: Noto Sans Mono, sans-serif;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 900px;
    color: #363738;
}